*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Antic Slab', serif;
    background-color: #E7D3CA;
    color: #A67791;
    font-weight: bold;
}

/* Header */
header{
    background-color: #893492;
    margin-bottom: 20px;
}

.head-foot{
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.header__logo{
    margin-left: 10px;
}

.navegacion__links{
    display: flex;
    justify-content: space-between;
}

.navegacion__links li{
    border-bottom: solid 2px #E7D3CA;
    margin: 0 10px 0 20px;
    transition: transform 0.3s;
}

.navegacion a{
    color: #E7D3CA;
}

.navegacion__links li:hover {
    transform: scale(1.3);
}

.navegacion__hambur{
    font-size: 3rem;
    color: #E7D3CA;
    display: none;
}

/* Footer */
footer{
    background-color: #893492;
    color: #E7D3CA;
    padding: 10px;
    margin-top: 20px;
}
.head-foot__direccion {
    min-height: 60px;
}
.head-foot h3{
    border-bottom: solid #E7D3CA 2px;
    margin-bottom: 10px;
}
footer img{
    width: 28.8px;
}

/* Main */

main{
    align-content: center;
    margin: 0 auto;
}
.presentacion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.presentacion img{
    width: 33%;
    transition: transform 0.3s;
}

.presentacion img:hover {
    transform: scale(1.05);
}

/* Tarjetas index */
.tarjeta {
    background-image: linear-gradient(-45deg, #A67791, #E7D3CA);
    align-items: center;
}

.tarjeta__oferta{
    display: grid;
    grid-template-areas:
    "titulo imagen"
    "texto imagen"
    "boton imagen";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 3rem;
    color: #893492;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: -10px -10px 10px 10px rgb(137, 52, 146, 20%); */
    
}

.oferta__titulo{
    grid-area: titulo;
}
.oferta__texto{
    grid-area: texto;
    max-width: 600px;
}
.oferta__boton{
    grid-area: boton;
}
.oferta__img{
    grid-area: imagen;
    max-width: 330px;
}

.tarjeta button{
    font-family: 'Antic Slab', serif;
    font-size: 2rem;
    width: 100px;
    padding: 0.7rem;
    border-radius: 20px;
    background-color: #E7D3CA;
    transition: background-color 0.3s, font-weight 0.3s, transform 0.3s;
}

.tarjeta button:hover {
    background-color: #ffff;
    font-weight: bolder;
    transform: scale(1.2);
}

.oferta__img img{
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    border-radius: 20px;
}

/* Productos */
.tituloPaginas{
    background-color: #893492;
    color: #E7D3CA;
    font-size: 4rem;
    text-align: center;
    margin: 20px 0;
}

.productos{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1200px;    
}

.productos__select{
   /*  width: 20%; */
    font-size: 1.5rem;
}

.select__opciones{
    padding-right: 10px;
    border-right: solid 3px #893492;
}

.select__opciones li{
    margin: 20px 0;
    padding-left: 20px;
}

.select__hambur{
    display: none;
    font-size: 3rem;
}

.productos__catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    /* margin-right: 20px; */
    column-gap: 10px;
    row-gap: 30px;
    font-size: 1.4rem;
}

.catalogo__items{
    padding: 10px;
    margin-right: 10px;
    background-color: #E7D3CA;
    border: solid 2px #A67791;
    color: rgb(67, 67, 67);
    text-align: center;
    line-height: 3rem;
    border-radius: 10px;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}

.catalogo__items img{
    width: 100%;
    border: solid 1px #893492;
    border-radius: 10px;
}

.catalogo__items button{
    font-family: 'Antic Slab', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #E7D3CA;
    background-color: #893492;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 30px; 
    border: solid 2px #A67791;
}

/* animaciones a tarjetas de productos. Las del menú hamburguesa están en al media querie */

.catalogo__items:hover {
    transform: scale(1.3);
}


/* Contacto */
.paginaContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginaContacto__form{
    display: grid;
    grid-template-areas: 
    ". nombre . asunto ."
    ". apellido . mensaje ."
    ". email . mensaje ."
    ". telefono . mensaje ."
    ". news  .  mensaje ."
    ". buttons buttons buttons .";
    grid-template-columns: 100px repeat(2, 1fr 100px);
    grid-template-rows: repeat(5, 1fr) 2fr;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    gap: auto;
}

.form__nombre{
    grid-area: nombre;
}
.form__asunto{
    grid-area: asunto;
}
.form__apellido{
    grid-area: apellido;
}
.form__mensaje{
    grid-area: mensaje;
}
.form__email{
    grid-area: email;
}
.form__telefono{
    grid-area: telefono;
}
.form__news{
    grid-area: news;
}
.form__buttons{
    grid-area: buttons;
}

.form__buttons button{
    font-family: 'Antic Slab', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #893492;
    background-color: #E7D3CA;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 2px #A67791;
    transition: 0.3s;
}
.paginaContacto__mapa{
    width: 90%;
    text-align: center;
    margin: 20px 0;
    border-top: solid 2px #893492;
}

.paginaContacto__mapa iframe{
    width: 80%;
    margin-top: 30px;
}

/* Animaciones página contacto */
.form__buttons button:hover{
    background-color: #893492;
    color: #E7D3CA;
}

/* Asesoría */
.banner{
    max-width: 1200px;
    margin: 50px auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.container__articulo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}


.articulo__texto{
    /* font-size: 3rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    min-width: 300px;
    margin: 0 10px;
}

.articulo__img{
    width: 40%;
    min-width: 300px;
}

.articulo__img img{
    width: 100%;
    transition: transform 0.3s;
}

.botonContacto{
    text-align: center;
    margin: 50px auto;
    border-top: solid #893492 2px;
    max-width: 1200px;
}
.botonContacto a{
    color: #893492;
    transition: 0.3s;
    /* color: #E7D3CA; */
}
.botonContacto button{
    font-family: 'Antic Slab', serif;
    font-size: 2rem;
    font-weight: bolder;
    background-color: #E7D3CA;
    /* background-color: #893492; */
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 20px; 
    border: solid 2px #A67791;
    transition: 0.3s;
}

/* Animaciones para página asesoramiento y casita barroca */
.container__articulo:hover {
    background-image: linear-gradient(60deg, #A67791, #E7D3CA 20% 80%, #A67791);
}
.container__articulo:hover img {
    transform: rotate(5deg);
}
.botonContacto button:hover{
    background-color: #893492;
}
.botonContacto button:hover a{
    color: #E7D3CA;
}

/* La casita barroca */
.quienesSomos{
    font-size: 3rem;
    background-image: url('../imagenes/background1.jpg');
    background-size: cover;
    text-align: center;
    line-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #E7D3CA;
    width: 100%;
    height: 100vh;
    margin: 25px 0;
}

.quienesSomos p{
    background-color: rgb(137, 52, 146, 40%);
    display: inline-block;
    max-width: 1200px;
    transition: background-color 0.3s;
}
.quienesSomos h2{
    background-color: rgb(137, 52, 146, 40%);
    transition: background-color 0.3s;
}

.asesoria{
    font-size: 3rem;
}
.casita {
    font-size: 2rem;
}

/* Animaciones para banner de página Casita Barroca */
.quienesSomos:hover h2 {
    background-color: rgb(137, 52, 146, 80%);
}
.quienesSomos:hover p {
    background-color: rgb(137, 52, 146, 80%);
}



/* Aplicando medias queries. Determiné cuatro breakpoint. El primero quizás esté de más si utilizo un flez para la pagina de productos en lugar de un grid, pero lo modifiqué para implementar las grillas y luego tuve que colocar un punto de break bastante alto.
Me centré principalmente en que la vista sea correcta para la vista laptop, tablet y mobile. Quizás en algún punto medio la estética de alguna pagina se vea afectada pero, de todas formas, no se desborda el contenido.
El menú tipo hamburguesa en el index y la página productos aparece pero no implementé la función de desplegar la lista de navegación.*/

/* medias */
@media screen and (max-width: 850px) {
    .productos__catalogo{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .tarjeta__oferta{
        font-size: 2.5rem;
    }
    .tarjeta__oferta button{
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .header__logo img{
        width: 120px;
        height: auto;
    }
    .head-foot{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    .tarjeta__oferta{
        font-size: 2rem;
    }
    .tarjeta__oferta button{
        font-size: 1.3rem;
        margin-top: 20px;
    }
    .head-foot{
        font-size: 1.2rem;
    }

    .productos__catalogo{
        grid-template-columns: repeat(2, 1fr);
    }
    .select__opciones{
        display: none;
    }
    .select__hambur{
        display: inline-block;
        margin-left: 20px;
    }

    
    .hambur__opciones {
        position: absolute;
        display: none;
        left: 9px;
        top: 200px;
        text-align: left;
        /* background-color: #A67791; */
        padding: 10px;
        font-size: 1.3rem;
    }
    .hambur__opciones li{
        margin: 5px 0;
        display: block;
    }

    .select__hambur:hover .hambur__opciones{
        display: block;
    }

    .quienesSomos{
        font-size: 2rem;
        line-height: 4rem;
    }

    .articulo__texto{
        font-size: 2rem;
    }

    .paginaContacto__form{
        grid-template-areas:
        "nombre"
        "apellido"
        "email"
        "telefono"
        "asunto"
        "mensaje"
        "news"
        "buttons";
        grid-template-rows: repeat(5, 1fr) 4fr 1fr;
        grid-template-columns: 1fr;
        justify-items: end;
    }
}

@media screen and (max-width: 615px) {
    .navegacion__links{
        display: none;
    }
    .navegacion__hambur{
        display: inline-block;
        margin-right: 30px;
    }

    .hambur__links {
        position: absolute;
        display: none;
        right: 30px;
        top: 50px;
        text-align: right;
        background-color: #893492;
        padding: 10px;
        font-size: 1.3rem;
    }
    .hambur__links li{
        margin: 5px 0;
        display: block;
    }

    .navegacion__hambur:hover .hambur__links{
        display: block;
    }

    .presentacion{
        flex-direction: column;
        align-items: center;
    }
    .presentacion img{
        width: 80%;
        margin: 10px 0;
    }
        
    .tarjeta__oferta{
        grid-template-areas:
        "titulo"
        "imagen"
        "texto"
        "boton";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 80%;
    }
    .oferta__img{
        margin: 20px 0;
    }
    .tarjeta__oferta button{
        margin-top: 20px;
    }

    .articulo__texto{
        height: 200px;
    }

    .paginaContacto__mapa{
        width: 90%;
        height: 350px;
        overflow-y: hidden;
        text-align: center;
        margin: 20px 0;
        border-top: solid 2px #893492;
    }
    
    .paginaContacto__mapa iframe{
        width: 100%;
        margin-top: 30px;
    }
}



@media screen and (max-width: 450px) {
    .tarjeta__oferta{
        font-size: 1.5rem;
        /* box-shadow: -5px -5px 5px 5px rgb(137, 52, 146, 20%); */
    }

    .productos__catalogo{
        grid-template-columns: 1fr;
    }
    .catalogo__items{
        font-size: 1.8rem;
    }
}
